@charset "utf-8";
/* reset.css */
html,body{
    width:100%; height:100%;
}
body,div,dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
p,blockquote,th,td{
    margin:0; padding:0;
}
table{
    border-collapse:collapse; 
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,
code,em,strong,th{
    font-style:normal; 
    font-weight:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%; 
    font-weight:normal;
}
q:before,q:after{
    content:"";
}
abbr,acronym{
    border:0;
}
img,li{
    vertical-align:middle;
}
hr{
    display:none;
}
#skipnavi,
.hidden{
    position:absolute; 
    left:0; 
    top:0; 
    width:1px; 
    height:1px; 
    font-size:1px; 
    line-height:0; 
    text-indent:-9999px; 
    overflow:hidden; 
    visibility:hidden;
}


